@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* MENU */
.contenido-portada img {
    width: 100%;
    height: 7cm;
}
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    float: left;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    float: left;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal; 
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

/* SECCION INTRODUCCIÓN */
.introduccion{
    background: url('img/gif3.gif') center center fixed; 
    color: #fff;
    padding: 50px 0;
}
.introduccion .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.introduccion h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: greenyellow;
}
.contenedor {
    text-align: center;
    
}
.imagen-centrada {
    display: inline-block; 
    border: 7px solid #1CB698;
    width: 60%;
}
.introduccion h3{
    color: blue;
    text-align: justify;
    padding: 20px 0;   
    font-weight: bold; 
}
.introduccion p {
    color: black;
    text-align: justify;
    padding-bottom: 5px;
    margin-right: 20px;
    position: relative;
    left: 20px;
    font-weight: bold;
}

/* SECCION SOBRE MI */
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: greenyellow;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button:hover .overlay{
    width: 100%;
}

/* SECCION TRABAJOS */
.trabajos{
    background: url('img/gif4.gif') center center fixed; 
    color: #fff;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trabajos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    width: 100%;
}
.trabajos h2{
    color: yellowgreen;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.trabajos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.trabajos .galeria .proyecto{
    position: relative;
    width: 90%;
    max-width: 340px;
    margin: 10px;
    cursor: pointer;
    height: 90%;
}
.trabajos .galeria .proyecto img{
    width: 100%;
    display: block;
    height: 90%;
    border: 7px solid orangered;
    border-radius: 5px; /* Añade bordes redondeados */
    transition: transform 0.3s ease-in-out; 
}
.trabajos .imagenes-clase {
    width: 300px; 
    height: 200px; 
    border: 7px solid orangered;
  }
.trabajos .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.trabajos h3{
    color: aqua;
    font-size: 30px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.trabajos .galeria .proyecto .overlay h4{
    margin-bottom: 20px;
    transition: 1s;
}
.trabajos .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.trabajos .galeria .proyecto .overlay:hover h4{
    margin-bottom: 0px;
}

/* SECCION CONTENIDO */
.contenido{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.contenido .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contenido h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: greenyellow;

}
.contenido .fila{
    display: flex;
    justify-content: space-between;
}
.contenido .fila .col{
    width: 49%;
    padding: 0 20px;
}
.contenido .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.contenido .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.contenido .fila .derecha{
    border-left: 2px solid #252A2E;
}
.contenido .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.contenido .fila .item h4{
    font-size: 25px;
    margin-bottom: 10px;
    color: orangered;
}
.contenido .fila .item .casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.contenido .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.contenido .fila .item p{
    line-height: 24px;
}
.contenido .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.cursosi {
    text-align: center;
    width: 80%;
}

.imagen-izquierda {
    display: inline-block;
    width: 80%; 
    height: 70%;
}
.cursosd {
    text-align: center;
    width: 80%;
}

.imagen-derecha {
    display: inline-block;
    width: 90%;
    height: 70%; 
    text-align: center;
}
.contenido .fila .der{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.contenido .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.contenido .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
.contenido .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.contenido .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

/* SECCION CONCLUSIONES */
.conclusiones{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.conclusiones .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.conclusiones h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: greenyellow;
}

.conclusiones h3{
    text-align: justify;
    padding: 20px 0;
    
}
p {
    padding-bottom: 10px;
    text-align: justify;
}

/* SECCION REFLEXION */
.reflexion{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.reflexion .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.reflexion h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: greenyellow;
}

.reflexion h3 {
    text-align: justify;
    padding-bottom: 10px;
    color: orangered;
}

.reflexion h4{
    text-align: justify;
    padding-bottom: 5px;
    margin-right: 20px;
    color: cadetblue;
    position: relative;
    left: 20px;
}

.reflexion p {
    text-align: justify;
    padding-bottom: 5px;
    margin-right: 20px;
    position: relative;
    left: 20px;
}
.reflexion .fila{
    display: flex;
}

/* SECCION FOOTER */
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .logo{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}